# 纽约市Airbnb数据集

简介：该数据集包含了2019年纽约市的Airbnb上线的房间情况。Airbnb是一个旅行房屋租赁社区，用户可通过网站或手机APP发布、搜索度假房屋租赁信息并在线预定。

## 数据信息

变量含义：
- id：房间id
- name：房间名称
- host_id：房东id
- host_name：房东姓名
- neighbourhood_group：地区
- neighbourhood：街区
- latitude：纬度坐标
- longitude：经度坐标
- room_type：房间类型
- price：价格（美元）
- minimum_nights：最少预定夜晚数
- number_of_reviews：评论数量
- last_review：最新浏览
- reviews_per_month：每月浏览次数
- calculated_host_listings_count：房东挂出房子的数量
- availability_365：可预定房源的天数

In [1]:
import pandas as pd
import numpy as np

## 读取数据

In [2]:
df1 = pd.read_csv("./airbnb_NYC_2019.csv")

In [3]:
df1

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [5]:
df1.sample(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
16447,13202374,Spacious bedroom in light filled w'burg apartment,22913446,Rachael,Brooklyn,Williamsburg,40.71382,-73.94285,Private room,56,21,0,NaN,NaN,1,0
43464,33664228,Sophisticated Brownstone Duplex,87766324,Michelle,Brooklyn,Bedford-Stuyvesant,40.68638,-73.93497,Entire home/apt,499,2,0,NaN,NaN,2,30
37019,29431974,Charming Studio in One of the Best Locations!,76323622,Liza,Manhattan,Nolita,40.72342,-73.99408,Entire home/apt,250,2,2,2019-01-01,0.28,1,0
37772,29923522,Beautiful Corner King Room in NYC,220229838,Chamber Hotel,Manhattan,Midtown,40.76402,-73.97453,Private room,233,2,0,NaN,NaN,11,207
9201,7037585,Sunny & Spacious near Central Park,2170381,Guida,Manhattan,East Harlem,40.79674,-73.94449,Private room,73,5,4,2016-01-06,0.08,1,242
25353,20279672,Serene queen sized bedroom,2514859,Meghan,Brooklyn,Bedford-Stuyvesant,40.68855,-73.95137,Private room,70,2,2,2019-01-01,0.20,2,0
5566,4047932,Central Park Housing,20989479,Arnab,Manhattan,Upper West Side,40.77222,-73.98923,Shared room,85,1,33,2015-12-28,0.56,1,0
36354,28918134,Basement Room with Window,35927005,Kathy,Brooklyn,Borough Park,40.63525,-74.00724,Private room,48,1,0,NaN,NaN,10,365
1199,511733,"Artist Loft @ Bushwick, Brooklyn",1840766,Samantha,Brooklyn,Bushwick,40.70753,-73.92048,Entire home/apt,120,5,3,2015-09-20,0.04,1,0
16810,13413386,Bed-Stuy Gem,62409721,Robert,Brooklyn,Bedford-Stuyvesant,40.69002,-73.95180,Private room,75,1,0,NaN,NaN,1,0
42211,32770484,Big Gorgeous Room•A/C| Close NYC \nModern & Clean,192187594,Joselyn,Queens,Maspeth,40.72504,-73.88976,Private room,55,2,9,2019-06-23,2.35,1,180
30642,23703345,Home Away From Home-2,147721837,Karen,Brooklyn,East New York,40.66630,-73.87448,Entire home/apt,139,3,25,2019-06-24,1.61,2,70
3817,2299633,Ritz-Plaza - 2 bedroom / 2 fullbath,11747009,Troy,Manhattan,Theater District,40.76096,-73.98646,Entire home/apt,975,2,1,2015-10-09,0.02,1,0
18016,14109544,Cozy+Sunny 2 bedroom apt. close to Central Park,5302735,Thiago,Manhattan,Harlem,40.80719,-73.95303,Entire home/apt,49,4,137,2019-06-29,3.88,2,279
30516,23613576,♥Private Home Express Subway Station+Free Park...,34177401,Nick,Brooklyn,East New York,40.67426,-73.87969,Entire home/apt,140,1,30,2019-07-07,2.18,2,4
31495,24523422,Urban Place,160495098,Miller,Brooklyn,East Flatbush,40.63532,-73.94924,Private room,36,2,1,2018-06-10,0.08,5,0
8557,6586663,Studio in the LES,34453577,Chris,Manhattan,Lower East Side,40.72101,-73.98905,Entire home/apt,140,4,119,2019-05-27,2.43,1,29
11729,9116868,"Gorgeous, Cozy Studio w/ Projector!",8503277,Cathy,Manhattan,East Village,40.72810,-73.97952,Entire home/apt,100,5,3,2018-01-13,0.07,1,0
25082,20086190,Fabulous and peaceful retreat in Brooklyn,28695008,Danielle,Brooklyn,Bedford-Stuyvesant,40.68838,-73.95649,Entire home/apt,190,5,24,2018-12-08,1.11,1,215
19154,15230938,Bluebird Lavish 2-BR Apt Within Mile of Times Sq.,95459395,Bluebird,Manhattan,Hell's Kitchen,40.76020,-73.99800,Entire home/apt,748,30,0,NaN,NaN,18,185

从表格信息来看符合一行一个数据，一列一个变量，每个单元格一格数值，不存在结构问题

 ## 评估数据

可能存在问题：  
1. 缺失数据
2. 重复数据
3. 不一致数据
4. 无效数据
5. 错误数据  
逐一判断

### 1.缺失数据

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [7]:
df1.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

在name,host_name,last_review,reviews_per_month,4个变量中存在NaN值，需要检查

In [8]:
df1["name"].isnull().sum()

16

In [9]:
#name中的空缺值
df1[df1["name"].isnull()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2854,1615764,NaN,6676776,Peter,Manhattan,Battery Park City,40.71239,-74.01620,Entire home/apt,400,1000,0,NaN,NaN,1,362
3703,2232600,NaN,11395220,Anna,Manhattan,East Village,40.73215,-73.98821,Entire home/apt,200,1,28,2015-06-08,0.45,1,341
5775,4209595,NaN,20700823,Jesse,Manhattan,Greenwich Village,40.73473,-73.99244,Entire home/apt,225,1,1,2015-01-01,0.02,1,0
5975,4370230,NaN,22686810,Michaël,Manhattan,Nolita,40.72046,-73.99550,Entire home/apt,215,7,5,2016-01-02,0.09,1,0
6269,4581788,NaN,21600904,Lucie,Brooklyn,Williamsburg,40.71370,-73.94378,Private room,150,1,0,NaN,NaN,1,0
6567,4756856,NaN,1832442,Carolina,Brooklyn,Bushwick,40.70046,-73.92825,Private room,70,1,0,NaN,NaN,1,0
6605,4774658,NaN,24625694,Josh,Manhattan,Washington Heights,40.85198,-73.93108,Private room,40,1,0,NaN,NaN,1,0
8841,6782407,NaN,31147528,Huei-Yin,Brooklyn,Williamsburg,40.71354,-73.93882,Private room,45,1,0,NaN,NaN,1,0
11963,9325951,NaN,33377685,Jonathan,Manhattan,Hell's Kitchen,40.76436,-73.98573,Entire home/apt,190,4,1,2016-01-05,0.02,1,0
12824,9787590,NaN,50448556,Miguel,Manhattan,Harlem,40.80316,-73.95189,Entire home/apt,300,5,0,NaN,NaN,5,0
13059,9885866,NaN,37306329,Juliette,Manhattan,Chinatown,40.71632,-73.99328,Private room,67,4,0,NaN,NaN,1,0
13401,10052289,NaN,49522403,Vanessa,Brooklyn,Brownsville,40.66409,-73.92314,Private room,50,3,3,2016-08-18,0.07,1,362
15819,12797684,NaN,69715276,Yan,Manhattan,Upper West Side,40.79843,-73.96404,Private room,100,1,0,NaN,NaN,2,0
16071,12988898,NaN,71552588,Andrea,Bronx,Fordham,40.86032,-73.88493,Shared room,130,1,0,NaN,NaN,1,365
18047,14135050,NaN,85288337,Jeff,Brooklyn,Bedford-Stuyvesant,40.69421,-73.93234,Private room,70,3,0,NaN,NaN,1,0
28889,22275821,NaN,49662398,Kathleen,Brooklyn,Bushwick,40.69546,-73.92741,Entire home/apt,110,4,5,2018-08-13,0.27,1,0

In [10]:
#host_name中的空缺值
df1[df1["host_name"].isnull()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
360,100184,Bienvenue,526653,NaN,Queens,Queens Village,40.72413,-73.76133,Private room,50,1,43,2019-07-08,0.45,1,88
2700,1449546,Cozy Studio in Flatbush,7779204,NaN,Brooklyn,Flatbush,40.64965,-73.96154,Entire home/apt,100,30,49,2017-01-02,0.69,1,342
5745,4183989,SPRING in the City!! Zen-Style Tranquil Bedroom,919218,NaN,Manhattan,Harlem,40.80606,-73.95061,Private room,86,3,34,2019-05-23,1.00,1,359
6075,4446862,Charming Room in Prospect Heights!,23077718,NaN,Brooklyn,Crown Heights,40.67512,-73.96146,Private room,50,1,0,NaN,NaN,1,0
6582,4763327,"Luxurious, best location, spa inc'l",24576978,NaN,Brooklyn,Greenpoint,40.72035,-73.95355,Entire home/apt,195,1,1,2015-10-20,0.02,1,0
8163,6292866,Modern Quiet Gem Near All,32722063,NaN,Brooklyn,East Flatbush,40.65263,-73.93215,Entire home/apt,85,2,182,2019-06-19,3.59,2,318
8257,6360224,"Sunny, Private room in Bushwick",33134899,NaN,Brooklyn,Bushwick,40.70146,-73.92792,Private room,37,1,1,2015-07-01,0.02,1,0
8852,6786181,R&S Modern Spacious Hideaway,32722063,NaN,Brooklyn,East Flatbush,40.64345,-73.93643,Entire home/apt,100,2,157,2019-06-19,3.18,2,342
9138,6992973,1 Bedroom in Prime Williamsburg,5162530,NaN,Brooklyn,Williamsburg,40.71838,-73.95630,Entire home/apt,145,1,0,NaN,NaN,1,0
9817,7556587,Sunny Room in Harlem,39608626,NaN,Manhattan,Harlem,40.82929,-73.94182,Private room,28,1,1,2015-08-01,0.02,1,0
14040,10709846,"Sunny, spacious room in Greenpoint",7822683,NaN,Brooklyn,Greenpoint,40.73539,-73.95838,Private room,55,10,2,2016-11-05,0.05,1,0
14631,11553543,Cozy Room Astoria,26138712,NaN,Queens,Ditmars Steinway,40.77587,-73.91775,Private room,45,1,5,2017-01-01,0.13,1,0
15174,12113879,"Sunny, Large West Village 1 BR Near Everything",5300585,NaN,Manhattan,Chelsea,40.73949,-73.99801,Entire home/apt,220,4,81,2019-07-02,2.11,1,217
19565,15648096,Spacious 2 bedroom close to Manhattan,100971588,NaN,Bronx,Highbridge,40.83844,-73.92489,Entire home/apt,75,4,37,2019-07-07,1.21,1,26
27777,21787094,Spacious and Bright Midtown East Apartment,415290,NaN,Manhattan,Upper East Side,40.76436,-73.96836,Entire home/apt,325,1,0,NaN,NaN,1,0
27962,21867710,Amazing room in the centre on Manhatten! Welcome!,159156636,NaN,Manhattan,Hell's Kitchen,40.75668,-73.99097,Private room,120,1,89,2019-01-01,5.16,3,0
28042,21901156,Best Deal! Lovely place in Manhattan! Time Squ...,159156636,NaN,Manhattan,Hell's Kitchen,40.75656,-73.99063,Private room,120,1,109,2019-01-01,5.97,3,0
28274,21990808,***SLEEPING IN THE GOLDEN PLACE***,159156636,NaN,Manhattan,Hell's Kitchen,40.75835,-73.99065,Private room,120,1,88,2018-12-14,4.93,3,0
30570,23660605,Private Bedroom w/ Balcony view of Central Park,177146433,NaN,Manhattan,East Harlem,40.79766,-73.94824,Private room,139,1,6,2018-08-12,0.46,1,0
32193,25180572,Beautiful Cozy Studio Apt. UWS,119609345,NaN,Manhattan,Upper West Side,40.77701,-73.97667,Entire home/apt,180,4,0,NaN,NaN,1,0
38992,30468335,LARGE Prospect Lefferts Gardens Bedroom,228750026,NaN,Brooklyn,Flatbush,40.65152,-73.95271,Private room,55,7,0,NaN,NaN,1,69

In [11]:
df1["host_name"].isnull().sum()

21

name 和 host_name 为空缺值的数据对分析无影响，可以保留

In [12]:
#last_review空缺值
df1[df1["last_review"].isnull()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
36,11452,Clean and Quiet in Brooklyn,7355,Vt,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365
38,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [13]:
df1[(df1["last_review"].notnull()) & (df1["reviews_per_month"].isnull())]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [14]:
df1[(df1["last_review"].isnull()) & (df1["reviews_per_month"].notnull())]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

对于`"last_review"`和`"reviews_per_month"`两列数据，当一列为空值时，另外一列也为空

In [15]:
df1[(df1["last_review"].notnull()) & (df1["number_of_reviews"] == 0)]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

所有`"last_review"`为Nan的数据，`"number_of_reviews"`都为0

以上三列数据，对价格统计无影响，但是对room reviewing rate具有影响，根据分析对象考虑是否进行删除

### 2.评估重复值

In [16]:
df1.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

In [17]:
df1[df1["name"].duplicated()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
330,81739,Loft w/ Terrace @ Box House Hotel,417504,The Box House Hotel,Brooklyn,Greenpoint,40.73842,-73.95312,Private room,249,3,2,2011-05-12,0.02,28,60
339,84010,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.73813,-73.95394,Private room,179,3,13,2019-06-27,0.14,28,81
580,219818,✿✿✿ COUNTRY COTTAGE IN THE CITY✿✿✿,1138692,Keera (Jena),Manhattan,Lower East Side,40.71892,-73.98401,Entire home/apt,199,1,14,2015-07-20,0.15,2,158
661,250537,The Lenox in Harlem,1313306,Yvette,Manhattan,Harlem,40.81122,-73.94279,Entire home/apt,400,5,0,NaN,NaN,2,365
669,253471,Loft Suite @ The Box House Hotel,417504,The Box House Hotel,Brooklyn,Greenpoint,40.73641,-73.95330,Entire home/apt,199,3,24,2018-11-06,0.32,28,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48684,36382847,Comfort home,266211707,Yan,Brooklyn,Sunset Park,40.64439,-74.01816,Private room,185,1,0,NaN,NaN,2,177
48735,36412461,"Sunny, Cozy, Private Room In The Heart of Bush...",147515897,Flávia,Brooklyn,Bushwick,40.70366,-73.92728,Private room,84,3,0,NaN,NaN,1,28
48759,36420404,Home Sweet Home,273656890,Liana,Manhattan,East Harlem,40.79266,-73.94740,Private room,50,1,0,NaN,NaN,1,81
48791,36427922,Home away from home,238163900,Lucy,Queens,Cambria Heights,40.68557,-73.72731,Private room,50,3,0,NaN,NaN,1,176
48826,36449743,Brooklyn's finest,66084717,Tim,Brooklyn,East Flatbush,40.65170,-73.92580,Entire home/apt,200,3,0,NaN,NaN,2,206

In [18]:
df1[df1["name"] == "Home Sweet Home"]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23963,19326745,Home Sweet Home,131354448,Tammie,Queens,Flushing,40.75532,-73.81074,Entire home/apt,85,3,37,2018-08-28,1.51,4,0
25399,20309089,Home Sweet Home,101776118,Jim,Brooklyn,Bay Ridge,40.62493,-74.02837,Entire home/apt,90,1,92,2019-07-02,4.09,1,312
41148,32007251,Home Sweet Home,118502740,Mikyla,Queens,Jamaica,40.69289,-73.81079,Private room,120,2,0,NaN,NaN,1,0
41191,32042717,Home Sweet Home,65786143,Lisa,Brooklyn,Williamsburg,40.70572,-73.94501,Private room,90,2,11,2019-07-02,2.92,1,83
43117,33452409,Home Sweet Home,92411,Karen,Manhattan,Harlem,40.82857,-73.95161,Entire home/apt,175,30,0,NaN,NaN,1,5
48759,36420404,Home Sweet Home,273656890,Liana,Manhattan,East Harlem,40.79266,-73.94740,Private room,50,1,0,NaN,NaN,1,81

In [20]:
print(df1["host_name"].duplicated().sum())
print(df1["host_id"].duplicated().sum())

37442
11438

In [26]:
df1[df1["host_id"] == 7549]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
39,12048,LowerEastSide apt share shortterm 1,7549,Ben,Manhattan,Lower East Side,40.71401,-73.98917,Shared room,40,1,214,2019-07-05,1.81,4,188
4767,3373030,"Cute,Cozy Lower East Side 1bdrm",7549,Ben,Manhattan,Lower East Side,40.71307,-73.99025,Entire home/apt,150,1,60,2019-06-25,1.00,4,188
5778,4215595,LowerEastSide apt share shortterm 3,7549,Ben,Manhattan,Lower East Side,40.71329,-73.99047,Shared room,40,1,88,2019-05-19,1.53,4,197

In [35]:
host = df1.loc[:,"host_id":"host_name"]
counts = host.groupby("host_name")["host_id"].nunique()
counts[counts > 1]

host_name
(Email hidden by Airbnb)    5
A                           9
A. Kaylee                   2
A.B.                        2
A.J.                        5
                           ..
Zoey                        6
Zoraida                     2
Zoë                         2
Zsofia                      2
소정                          2
Name: host_id, Length: 3125, dtype: int64

In [37]:
zoy = df1[df1["host_name"] == "Zoey"]

In [38]:
zoy.groupby("host_name")["host_id"].nunique()

host_name
Zoey    6
Name: host_id, dtype: int64

In [39]:
df1["id"].duplicated().sum()

0

1. host_id 存在重复出现的情况，因为可能多个房源来自同一个host，在检查后发现，一个host_id仅对应一个host_name，所以不存在重复错误（一个id对应多个name）。而host_name存在重名的现象，所以导致相同的名字可能对应着多个id，不存在逻辑错误。  
2. 房源名称可以重复，重名现象可以被允许。  
3. 每一处房源的id是没有重复的，唯一的

### 3.评估不一致数据

变量含义：
- id：房间id
- name：房间名称
- host_id：房东id
- host_name：房东姓名
- neighbourhood_group：地区
- neighbourhood：街区
- latitude：纬度坐标
- longitude：经度坐标
- room_type：房间类型
- price：价格（美元）
- minimum_nights：最少预定夜晚数
- number_of_reviews：评论数量
- last_review：最新浏览
- reviews_per_month：每月浏览次数
- calculated_host_listings_count：房东挂出房子的数量
- availability_365：可预定房源的天数

可能出现不一致数据的变量有：
* neighbourhood
* room_type
* neighbourhood_group

In [40]:
df1["neighbourhood"].value_counts()

neighbourhood
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Fort Wadsworth           1
Richmondtown             1
New Dorp                 1
Rossville                1
Willowbrook              1
Name: count, Length: 221, dtype: int64

In [41]:
df1["room_type"].value_counts()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

In [42]:
df1["neighbourhood_group"].value_counts()

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

* neighbourhood变量无法确定是否存在表达相同含义的不一致数据。  
* room_type, neighbourhood_group两个变量不存在不一致数据。

### 4.评估无效数据

In [43]:
df1.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

price存在0, availability_365存在0

In [44]:
df1[df1["price"] == 0]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23161,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,2018-01-06,0.05,4,28
25433,20333471,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
25634,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,40.69467,-73.92433,Private room,0,2,16,2019-05-18,0.71,5,0
25753,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,2017-10-27,0.53,2,0
25778,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,2018-01-02,0.15,1,73
25794,20639628,Spacious comfortable master bedroom with nice ...,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68173,-73.91342,Private room,0,1,93,2019-06-15,4.28,6,176
25795,20639792,Contemporary bedroom in brownstone with nice view,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68279,-73.91170,Private room,0,1,95,2019-06-21,4.37,6,232
25796,20639914,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68258,-73.91284,Private room,0,1,95,2019-06-23,4.35,6,222
26259,20933849,the best you can find,13709292,Qiuchi,Manhattan,Murray Hill,40.75091,-73.97597,Entire home/apt,0,3,0,NaN,NaN,1,0
26841,21291569,Coliving in Brooklyn! Modern design / Shared room,101970559,Sergii,Brooklyn,Bushwick,40.69211,-73.90670,Shared room,0,30,2,2019-06-22,0.11,6,333
26866,21304320,Best Coliving space ever! Shared room.,101970559,Sergii,Brooklyn,Bushwick,40.69166,-73.90928,Shared room,0,30,5,2019-05-24,0.26,6,139

In [47]:
df1[df1["availability_365"] == 0]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48550,36313048,Sunny room with private entrance in shared home,16883913,Tiffany,Queens,Ridgewood,40.69919,-73.89902,Private room,45,1,0,NaN,NaN,1,0
48731,36410519,Sunlight charming apt. in the heart of Brooklyn,121384174,Luciana Paula,Brooklyn,Park Slope,40.66716,-73.98101,Entire home/apt,111,8,0,NaN,NaN,1,0
48756,36419441,Murray Hill Masterpiece,273824202,David,Manhattan,Murray Hill,40.74404,-73.97239,Entire home/apt,129,2,0,NaN,NaN,1,0
48760,36420725,"Sunnyside, Queens 15 Mins to Midtown Clean & C...",19990280,Brandon,Queens,Sunnyside,40.74719,-73.91919,Private room,46,1,0,NaN,NaN,1,0
48779,36424776,Queen size bedroom in two bed apt with great l...,13384464,Hollie,Brooklyn,Bedford-Stuyvesant,40.69617,-73.94198,Private room,50,3,0,NaN,NaN,1,0

price 和availability为0的数据需要删除，对分析有负面影响

### 5.评估错误数据

在数据类型方面存在明显问题

In [48]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

1. id应该为str
2. host_id应为str
3. last_review 应为date

In [49]:
df1.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

minimum_night的max值不符合逻辑  
price的max值需要检查

In [62]:
minimum = df1.sort_values(by = 'minimum_nights',ascending = False)
minimum.head(50)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
5767,4204302,Prime W. Village location 1 bdrm,17550546,Genevieve,Manhattan,Greenwich Village,40.73293,-73.99782,Entire home/apt,180,1250,2,2014-11-09,0.03,1,365
2854,1615764,NaN,6676776,Peter,Manhattan,Battery Park City,40.71239,-74.01620,Entire home/apt,400,1000,0,NaN,NaN,1,362
38664,30378211,Shared Studio (females only),200401254,Meg,Manhattan,Greenwich Village,40.73094,-73.99900,Shared room,110,999,0,NaN,NaN,1,365
13404,10053943,Historic Designer 2 Bed. Apartment,2697686,Glenn H.,Manhattan,Harlem,40.82915,-73.94034,Entire home/apt,99,999,2,2018-01-04,0.07,1,42
26341,20990053,Beautiful place in Brooklyn! #2,151084261,Angie,Brooklyn,Williamsburg,40.71772,-73.95059,Private room,79,999,24,2018-06-28,1.12,6,249
47620,35834935,Williamsburg Apartment,82674375,Meg,Brooklyn,Williamsburg,40.70898,-73.94885,Entire home/apt,140,500,0,NaN,NaN,1,331
14285,11096888,Peaceful apartment close to F/G,2228137,Amanda,Brooklyn,Kensington,40.64779,-73.97956,Private room,45,500,0,NaN,NaN,1,358
8014,6169897,Wonderful Large 1 bedroom,10720264,John,Manhattan,Harlem,40.82135,-73.95521,Entire home/apt,75,500,0,NaN,NaN,1,362
11193,8668115,Zen Room in Crown Heights Brooklyn,8996336,Laura,Brooklyn,Crown Heights,40.67255,-73.94914,Private room,50,500,10,2016-09-22,0.22,1,365
7355,5431845,Beautiful Fully Furnished 1 bed/bth,3680008,Aliya,Queens,Long Island City,40.75104,-73.93863,Entire home/apt,134,500,30,2018-06-24,0.57,1,90
10829,8341919,Brand New Luxury Apt Lease Takeover,43945071,Shining,Queens,Long Island City,40.74654,-73.95778,Entire home/apt,199,480,0,NaN,NaN,1,365
34487,27362309,Not available,14621589,Sol,Brooklyn,Bedford-Stuyvesant,40.69974,-73.94658,Private room,50,400,0,NaN,NaN,1,90
1305,568684,800sqft apartment with huge terrace,2798644,Alessandra,Brooklyn,Bushwick,40.70202,-73.92402,Entire home/apt,115,370,6,2018-04-15,0.09,1,365
15946,12888849,"Bright Luxury Studio, Central Loc.",16476167,Sarah,Manhattan,Midtown,40.74513,-73.98475,Entire home/apt,250,366,0,NaN,NaN,1,365
48446,36270376,"Beautiful home on Staten Island, walk to ferry",444904,Janine,Staten Island,St. George,40.64005,-74.07987,Entire home/apt,100,365,0,NaN,NaN,1,342
2831,1586935,Luxury Gramercy Lg 1Bd w Balcony,8457613,Erin,Manhattan,Gramercy,40.73494,-73.98751,Entire home/apt,250,365,0,NaN,NaN,1,365
17338,13687060,Luxury drmn Bldg + Empire State Views & Roof Top!,21419119,Sebastien,Manhattan,Kips Bay,40.74033,-73.98268,Entire home/apt,189,365,7,2018-03-11,0.19,1,362
44429,34221161,Room with sofa bed or air mattress,9295237,Noelle,Queens,Astoria,40.75593,-73.91276,Private room,2000,365,0,NaN,NaN,2,0
1449,649561,Manhattan Sky Crib (1 year sublet),3260084,David,Manhattan,Chelsea,40.75164,-73.99425,Entire home/apt,135,365,0,NaN,NaN,1,365
20096,16095062,THANKSGIVING up to 6 GUESTS + HOT TUB + FIREPLACE,104911818,Samantha,Brooklyn,Clinton Hill,40.69487,-73.96572,Private room,225,365,0,NaN,NaN,1,90
19794,15851599,"Stunning 1 Br, West Village Luxury w/ great views",48815188,Kevin,Manhattan,Greenwich Village,40.73317,-73.99813,Entire home/apt,295,365,15,2018-04-24,0.49,1,0
754,271694,"Easy, comfortable studio in Midtown",1387370,James,Manhattan,Midtown,40.75282,-73.97315,Entire home/apt,125,365,19,2015-09-08,0.21,1,365
44736,34384645,The BEAUTY & the EAST/free street parking & WIFI,219738858,Joe,Manhattan,East Village,40.73070,-73.98299,Entire home/apt,120,365,4,2019-05-17,1.90,5,305
13886,10514203,Giant Landmark Apartment in the Sky,3710888,Lisa,Brooklyn,Park Slope,40.67546,-73.97528,Private room,350,365,0,NaN,NaN,1,364
23011,18635370,Fantastic Sunny peaceful room in Riverdale,91385196,Vicdania,Bronx,North Riverdale,40.91169,-73.90564,Private room,50,365,0,NaN,NaN,1,363
3945,2454507,Close to everything - Jr 1 bedroom,9991763,Andrew,Manhattan,Financial District,40.70781,-74.00701,Entire home/apt,130,365,6,2016-10-02,0.10,1,262
7328,5402632,Private BDR/BATH in Luxury Condo near Times Sq...,27927011,Ashley,Manhattan,Hell's Kitchen,40.75755,-73.99305,Private room,99,365,7,2018-03-08,0.14,1,337
5385,3891031,LAST DAY TO BOOK Bedroom on Wall St,20133610,Shi Qing,Manhattan,Financial District,40.70940,-74.00278,Private room,139,365,13,2015-07-15,0.23,1,365
39875,30981877,The NYC Adventure,231474021,Cyn,Manhattan,East Harlem,40.78724,-73.94940,Private room,65,365,1,2019-05-17,0.57,1,0
4437,3029690,Safe Sunny South Facing Near All,7245581,Michael,Manhattan,Chelsea,40.74873,-73.99557,Entire home/apt,93,365,10,2018-02-12,0.17,19,97
13788,10386936,Private Room in Williamsburg!,53471415,Mark,Brooklyn,Williamsburg,40.71141,-73.95155,Private room,1002,365,10,2016-05-19,0.25,1,365
2150,992977,Park Slope Pre-War Apartment,4000059,Shahdiya,Brooklyn,Park Slope,40.67359,-73.97434,Entire home/apt,100,365,1,2013-08-01,0.01,1,365
700,258690,CHELSEA 1 Bdrm Plus Sleeping Loft!!,1359611,Andrea,Manhattan,Chelsea,40.74618,-74.00392,Entire home/apt,195,365,10,2014-10-26,0.12,1,0
4372,2942732,"Large 1 bdrm, River views!",160337,Sanjna,Manhattan,Washington Heights,40.83549,-73.94765,Entire home/apt,60,365,9,2019-06-15,0.15,1,291
31730,24740209,Long term/16 month sublet. Great location!,4267075,Jen,Brooklyn,Clinton Hill,40.68458,-73.96805,Entire home/apt,89,365,1,2018-08-23,0.09,2,0
15899,12855469,Gorgeous Studio in Doorman Luxury!,70251988,Brendan,Manhattan,Upper East Side,40.78147,-73.95284,Entire home/apt,100,365,27,2018-01-03,0.78,1,17
4794,3399909,Super cute and sunny 2 bedroom,39304,Andrea,Brooklyn,Williamsburg,40.71852,-73.94165,Entire home/apt,240,365,0,NaN,NaN,1,363
15980,12916189,Family Friendly BK Townhome With Garden Oasis!,951917,Julia And Juan,Brooklyn,Sunset Park,40.66224,-73.99805,Entire home/apt,196,365,4,2018-05-20,0.12,1,365
38469,30273310,Farm house style Bay Ridge (private D),31760835,Fon,Brooklyn,Bay Ridge,40.63574,-74.03102,Private room,85,365,1,2018-12-15,0.14,4,189
17811,13963005,Gorgeous 2 Bedroom apartment,41870118,Iveta,Queens,Forest Hills,40.72064,-73.83746,Entire home/apt,2350,365,0,NaN,NaN,1,364
15381,12328112,GREENPOINT OASIS,1180190,Justin,Brooklyn,Greenpoint,40.73100,-73.95480,Entire home/apt,450,365,17,2019-01-03,0.50,1,365
3398,2037951,Modern West Village Apartment,4191006,Nick,Manhattan,West Village,40.73858,-74.00875,Private room,500,365,0,NaN,NaN,1,0
8658,6654984,Beautiful apartment in trendy Brooklyn,5417600,Elvira,Brooklyn,Park Slope,40.67376,-73.98397,Entire home/apt,200,365,4,2018-06-16,0.14,1,173
5909,4308991,Big Room with Private Bathroom,6195809,Dean,Manhattan,East Village,40.72607,-73.98867,Private room,149,364,8,2019-01-07,0.17,1,90
2214,1039435,"Lovely studio in Manhattan,New York",5709288,Fabia,Manhattan,Midtown,40.75879,-73.96380,Entire home/apt,220,360,1,2015-01-02,0.02,1,0
18043,14129429,3 Bedroom Apartment for Rent,85235313,Richard,Manhattan,Greenwich Village,40.73085,-74.00079,Entire home/apt,174,360,0,NaN,NaN,1,365
44070,34020036,Prime Gramercy! **12 months lease!,1146958,Liz,Manhattan,Kips Bay,40.73859,-73.98218,Entire home/apt,89,360,0,NaN,NaN,4,364
24012,19361969,new apt for sublet a year,135703190,Sophie,Brooklyn,Vinegar Hill,40.69891,-73.98473,Entire home/apt,300,360,0,NaN,NaN,1,365
11748,9133959,"Top floor, Hudson River views",3092054,Shirley,Manhattan,Hell's Kitchen,40.76642,-73.98621,Entire home/apt,120,360,0,NaN,NaN,1,365
32915,25948509,Cozy large Full 1 Bedroom Apt,195040579,Omar,Brooklyn,Midwood,40.62940,-73.97004,Entire home/apt,115,354,0,NaN,NaN,1,179

In [76]:
over_365 = df1[df1["minimum_nights"] >  365]
len(over_365)

14

有14个房源，最少租房日高于365天，不符合逻辑，需要删除

In [81]:
price = df1.sort_values(by = 'price', ascending = False)
price.head(30)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83
40433,31340283,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,40.71980,-73.98566,Entire home/apt,9999,30,0,NaN,NaN,1,365
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0
30268,23377410,Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho,18128455,Rum,Manhattan,Tribeca,40.72197,-74.00633,Entire home/apt,8500,30,2,2018-09-18,0.18,1,251
4377,2953058,Film Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69137,-73.96723,Entire home/apt,8000,1,1,2016-09-15,0.03,11,365
29662,22779726,East 72nd Townhouse by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper East Side,40.76824,-73.95989,Entire home/apt,7703,1,0,NaN,NaN,12,146
42523,33007610,70' Luxury MotorYacht on the Hudson,7407743,Jack,Manhattan,Battery Park City,40.71162,-74.01693,Entire home/apt,7500,1,0,NaN,NaN,1,364
45666,34895693,Gem of east Flatbush,262534951,Sandra,Brooklyn,East Flatbush,40.65724,-73.92450,Private room,7500,1,8,2019-07-07,6.15,2,179
44034,33998396,3000 sq ft daylight photo studio,3750764,Kevin,Manhattan,Chelsea,40.75060,-74.00388,Entire home/apt,6800,1,0,NaN,NaN,6,364
37194,29547314,Apartment New York \nHell’s Kitchens,35303743,Patricia,Manhattan,Upper West Side,40.76835,-73.98367,Private room,6500,30,0,NaN,NaN,1,97
3774,2271504,SUPER BOWL Brooklyn Duplex Apt!!,11598359,Jonathan,Brooklyn,Clinton Hill,40.68766,-73.96439,Entire home/apt,6500,1,0,NaN,NaN,1,0
48043,36056808,Luxury TriBeCa Apartment at an amazing price,271248669,Jenny,Manhattan,Tribeca,40.71206,-74.00999,Entire home/apt,6500,180,0,NaN,NaN,1,365
29664,22780103,Park Avenue Mansion by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper East Side,40.78517,-73.95270,Entire home/apt,6419,1,0,NaN,NaN,12,45
3537,2110145,UWS 1BR w/backyard + block from CP,2151325,Jay And Liz,Manhattan,Upper West Side,40.77782,-73.97848,Entire home/apt,6000,14,17,2015-02-17,0.27,1,359
15560,12520066,Luxury townhouse Greenwich Village,66240032,Linda,Manhattan,Greenwich Village,40.73046,-73.99562,Entire home/apt,6000,1,0,NaN,NaN,1,0
3720,2243699,"SuperBowl Penthouse Loft 3,000 sqft",1483320,Omri,Manhattan,Little Italy,40.71895,-73.99793,Entire home/apt,5250,1,0,NaN,NaN,1,0
43009,33397385,Midtown Manhattan great location (Gramacy park),16105313,Debra,Manhattan,Midtown,40.74482,-73.98367,Entire home/apt,5100,30,1,2019-06-22,1.00,2,343
22353,18051877,Victorian Film location,2675644,Alissa,Staten Island,Randall Manor,40.63952,-74.09730,Entire home/apt,5000,1,0,NaN,NaN,1,344
26739,21238053,Broadway 1,153497815,Sarah-B,Brooklyn,Bedford-Stuyvesant,40.68742,-73.91957,Entire home/apt,5000,2,8,2017-12-09,0.38,1,0
38000,30035166,4-Floor Unique Event Space 50P Cap. - #10299B,172611460,Rasmus,Manhattan,Harlem,40.82511,-73.94961,Entire home/apt,5000,1,2,2019-02-23,0.38,2,150
25825,20654227,Fulton 2,100069033,Sarah-2,Brooklyn,Cypress Hills,40.68185,-73.88128,Entire home/apt,5000,2,4,2018-01-03,0.18,1,0
2698,1448703,Beautiful 1 Bedroom in Nolita/Soho,213266,Jessica,Manhattan,Nolita,40.72193,-73.99379,Entire home/apt,5000,1,2,2013-09-28,0.03,1,365
4345,2919330,NearWilliamsburg bridge 11211 BK,14908606,Bianca,Brooklyn,Bedford-Stuyvesant,40.69572,-73.95731,Private room,5000,6,10,2016-01-02,0.16,1,363
46614,35345358,Northside Williamsburg Stunner,956324,Alex,Brooklyn,Williamsburg,40.71705,-73.96470,Entire home/apt,4500,30,0,NaN,NaN,1,365
4376,2952861,Photography Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69127,-73.96563,Entire home/apt,4500,1,5,2018-12-29,0.09,11,365
43670,33796251,Beautiful private Brooklyn room with kitchenette,8748976,Jeffrey,Brooklyn,Bedford-Stuyvesant,40.68807,-73.95426,Private room,4200,114,0,NaN,NaN,1,347
45867,34981637,bay ridge & sunset park furnished apartment,263564234,Nony,Brooklyn,Bay Ridge,40.63087,-74.02006,Entire home/apt,4200,60,0,NaN,NaN,1,90

In [80]:
len(df1[df1["price"] <= 0])

11

In [82]:
len(df1[df1["price"] >= 9999 ])

6

在price数据中有11行为0，无效数据需要删除。  
有6行数据超过9999，价格需要重新核实

## 清理数据

总结评估需要处理的问题：
1. price 和availability为0的数据需要删除
2. id应该为str
    host_id应为str
    last_review 应为date
3. 有14个房源，最少租房日高于365天，不符合逻辑，需要删除
4. 在price数据中有11行为0，无效数据需要删除

In [85]:
new = df1 #创建新的修改版

new.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [96]:
new = new[(new["price"] != 0)]
new = new[(new["availability_365"] != 0)]
new.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,3.135400e+04,3.135400e+04,31354.000000,31354.000000,31354.000000,31354.000000,31354.000000,26147.000000,31354.000000,31354.000000
mean,2.100493e+07,8.145071e+07,40.728406,-73.948753,162.091822,8.338426,31.849365,1.810063,10.335460,175.834439
std,1.148777e+07,8.673941e+07,0.056562,0.051400,254.444750,23.838961,51.638559,1.805657,40.705488,126.195374
min,2.539000e+03,2.571000e+03,40.499790,-74.244420,10.000000,1.000000,0.000000,0.010000,1.000000,1.000000
25%,1.167354e+07,8.619004e+06,40.688392,-73.983280,70.000000,2.000000,2.000000,0.450000,1.000000,55.000000
50%,2.255750e+07,4.108975e+07,40.723725,-73.954115,112.000000,3.000000,10.000000,1.230000,1.000000,168.000000
75%,3.119452e+07,1.452368e+08,40.763037,-73.930152,189.000000,5.000000,39.000000,2.680000,3.000000,305.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [97]:
new["id"] = new["id"].astype(str)
new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31354 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              31354 non-null  object
 1   name                            31350 non-null  object
 2   host_id                         31354 non-null  int64
 3   host_name                       31346 non-null  object
 4   neighbourhood_group             31354 non-null  object
 5   neighbourhood                   31354 non-null  object
 6   latitude                        31354 non-null  float64
 7   longitude                       31354 non-null  float64
 8   room_type                       31354 non-null  object
 9   price                           31354 non-null  int64
 10  minimum_nights                  31354 non-null  int64
 11  number_of_reviews               31354 non-null  int64
 12  last_review                     26147 non-null  object
 13  reviews_per_month               26147 non-null  float64
 14  calculated_host_listings_count  31354 non-null  int64
 15  availability_365                31354 non-null  int64
dtypes: float64(3), int64(6), object(7)
memory usage: 4.1+ MB

In [101]:
new["host_id"] = new["host_id"].astype(str)

new["last_review"] = pd.to_datetime(new["last_review"])

new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31354 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              31354 non-null  object
 1   name                            31350 non-null  object
 2   host_id                         31354 non-null  object
 3   host_name                       31346 non-null  object
 4   neighbourhood_group             31354 non-null  object
 5   neighbourhood                   31354 non-null  object
 6   latitude                        31354 non-null  float64
 7   longitude                       31354 non-null  float64
 8   room_type                       31354 non-null  object
 9   price                           31354 non-null  int64
 10  minimum_nights                  31354 non-null  int64
 11  number_of_reviews               31354 non-null  int64
 12  last_review                     26147 non-null  datetime64[ns]
 13  reviews_per_month               26147 non-null  float64
 14  calculated_host_listings_count  31354 non-null  int64
 15  availability_365                31354 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(7)
memory usage: 4.1+ MB

In [105]:
over_365_index = new[new["minimum_nights"] > 365].index
new.drop(over_365_index,inplace = True)

In [106]:
new.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,31340.000000,31340.000000,31340.000000,31340.000000,31340.000000,26141,26141.000000,31340.000000,31340.000000
mean,40.728405,-73.948746,162.102776,8.043395,31.861232,2019-03-19 14:57:30.854978560,1.810398,10.339470,175.782993
min,40.499790,-74.244420,10.000000,1.000000,0.000000,2011-04-25 00:00:00,0.010000,1.000000,1.000000
25%,40.688380,-73.983280,70.000000,2.000000,2.000000,2019-04-28 00:00:00,0.450000,1.000000,55.000000
50%,40.723725,-73.954115,112.000000,3.000000,10.000000,2019-06-16 00:00:00,1.230000,1.000000,167.000000
75%,40.763040,-73.930140,189.000000,5.000000,39.000000,2019-06-28 00:00:00,2.680000,3.000000,305.000000
max,40.913060,-73.712990,10000.000000,365.000000,629.000000,2019-07-08 00:00:00,58.500000,327.000000,365.000000
std,0.056566,0.051407,254.493457,18.306410,51.646659,NaN,1.805719,40.714127,126.175598

## 4.保存数据

In [107]:
new.to_csv("./clean_NYU_Airbnb_Data",index = False)